In [1]:
from GradientBoostingRegressor import GradientBoostingRegressor

import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("dataset.csv")
df.head()

,Brand,Year,Configuration,Strings,Made in,Type,Body Shape,Body Material,Neck Joint,Neck Material,...,Switch,Knobs,Volume Controls,Tone Controls,Top Pickup Brand,Pickups Power,Locking Tuners,Bridge Type,Tremolo,Price
0,18,12,1,1,5,2,14,2,1,2,...,1,1,1,1,1,6,0,6,1,1357.600
1,4,13,1,1,3,2,14,6,1,2,...,1,1,1,1,1,1,1,6,1,2308.628
2,18,13,1,1,2,2,14,2,1,2,...,1,1,1,1,1,1,0,6,1,1214.245
3,18,12,1,2,5,2,14,2,1,2,...,1,1,1,1,1,6,0,6,1,1487.980
4,18,10,1,1,5,2,14,2,1,2,...,1,1,1,1,1,3,0,6,1,1265.148

In [3]:
x = df.drop("Price",axis=1)
y = df['Price'].values

In [4]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [5]:
y_train = pd.DataFrame(y_train,columns=['Price'],index=x_train.index)

In [6]:
gb = GradientBoostingRegressor(max_depth=3,n_estimators=5)

In [ ]:
gb.fit(x_train,y_train,learning_rate=0.5)

Estimator 1 is being trained...

In [15]:
test_preds = gb.predict(x_test)

1157

In [13]:
y_train - y_train.values

      Price
1430    0.0
353     0.0
1089    0.0
915     0.0
682     0.0
...     ...
1095    0.0
1130    0.0
1294    0.0
860     0.0
1126    0.0

[1156 rows x 1 columns]